html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none}
table{border-collapse:collapse;border-spacing:0}
input:focus{outline:none}
a{color:inherit;text-decoration:none}

.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px}

.main-screen{position:relative;max-width:500px;margin:auto}
.login-header{display:flex;padding:20px 15px;justify-content:center}
.login-title{font-weight:bold;font-size:14px}

.login-screen{margin:0 15px}
.login-form__select{display:flex;justify-content:space-around}
.login-form__select--link{display:flex;width:50%;padding:15px 0;border-bottom:1px solid rgba(0,0,0,.3);color:rgba(0,0,0,.3);justify-content:center}
.login-form__select--link[aria-selected="true"]{border-bottom:2px solid rgba(0,0,0,.9);font-weight:bold;color:rgba(0,0,0,.9)}

.login-form{display:block;padding:15px;text-align:center}
.login-input{margin:10px 0}
.login-input input{width:100%;height:50px;padding:0 10px;border:1px solid #ddd;border-radius:4px;box-sizing:border-box}
.login-button{padding-top:10px}
.login-button__submit{width:100%;height:50px;border:none;color:#fff;background-color:#111;border-radius:4px;cursor:pointer}
.login-box{display:flex;padding:16px 5% 4px;font-size:14px;justify-content:space-between}
.login-box__auto{position:relative}
.login-checkbox{position:absolute;left:4px;z-index:-1;width:15px;height:15px;margin:-1px;clip:rect(0,0,0,0);}
.login-box__auto label::before{position:absolute;top:-2px;left:2px;width:15px;height:15px;border:1px solid #b1b1b1;background-color:#e1e1e1;border-radius:50%;content:''}
.login-box__auto :checked+label:before{background-color:#0078ff}
.login-box__auto label{padding-left:26px}
.login-box__find{color:rgba(0,0,0,.3)}
.login-box__find--link{position:relative;margin-left:10px}
.login-box__find--link:last-child::before{position:absolute;left:-7px;width:1px;height:15px;background-color:rgba(0,0,0,.3);content:''}
.login-button__another{display:flex;padding:0 15px;flex-direction:column;align-items:center}
.login-button__another a{display:flex;width:100%;height:50px;margin-bottom:10px;padding:0 10px;border-radius:4px;align-items:center;justify-content:center;box-sizing:border-box}
.login-button__another--kakao{border:none;background-color:#fee500}
.login-button__another--apple{border:1px solid #bfbfbf}

.create-id{padding-top:25px;font-size:14px;color:#0078ff;text-align:center}
.create-id__txt{margin-right:5px}
.create-id__btn{padding:5px 10px;border:1px solid #0078ff;color:#0078ff;background-color:transparent;border-radius:4px;cursor:pointer}

.login-back{position:absolute;top:20px;left:25px}